<div class="flex items-center justify-center">
  <div class="content-fit flex flex-col justify-center items-center text-center" [ngClass]="padding$ | async">
    <h1 class="text-4xl">Empowering artists, one block at a time</h1>
    <div class="mt-12 flex flex-col items-center">
      <img ngSrc="/assets/images/logos/licensync-blue-homepage-logo.png"
           alt="licensync logo" height="160" width="160">
      <img ngSrc="/assets/images/logos/licensync-homepage-title-catch.png"
           alt="licensync title" height="80" width="160">
    </div>
    <div class="flex flex-col justify-center items-center mt-8 max-w-md w-full">
      <button mat-flat-button
              routerLink="/account/register"
              class="w-fit py-2 light-primary-text hover-light-accent-bg"
              color="accent"
      >S'inscrire</button>
      <p class="w-full text-center mt-2">Déjà inscrit ? <button routerLink="/account/login" class="underline text-blue-600 hover:text-blue-400 mt-1">Se connecter</button></p>
      <p class="mt-3">Reprenez le controle sur vos création grâce à l'authentification blockchain LicenSync.</p>
    </div>
  </div>
</div>


