<header class="flex items-center xl:justify-between h-8 xl:h-12 p-1 xl:p-2 bg-secondary-bg sticky top-0 z-50">
  <button routerLink="/" class="h-full flex items-center xl:ml-4">
    <img ngSrc="../../../assets/images/logos/licensync-header-blue-logo.png"
         alt="licensync blue logo"
         width="32" height="32">
    <img ngSrc="../../../assets/images/logos/licensync-header-title-grey.png"
         alt="licensync grey title"
         width="64" height="32">
  </button>
  <div class="h-full flex gap-8 mr-4 items-center">
    @if (isUserPage) {
      <app-upload-link
        class="hidden xl:block"
      />
    }
    @if (user$ | async) {
      <app-user-menu class="hidden xl:block"/>
    }
  </div>
</header>
@if (busyService.loading) {
<mat-progress-bar mode="indeterminate" class="z-50 mt-12 h-60"/> }
