@if (track)
{
  <mat-card
    appearance="raised"
    class="w-full h-full p-0 overflow-hidden rounded-b-lg"
    [ngClass]="cardWidth">
    <div class="flex justify-between items-center h-full">
      <div class="h-full w-1/3 p-1 flex justify-center items-center">
        @if (!imageURL) {
          <img
            ngSrc="https://picsum.photos/100"
            alt="Visuel alternatif pour le titre {{track.trackTitle}}"
            width="100" height="100"
            class="rounded-md"
          />
        }
        @if(imageURL) {
          <img
            src="{{imageURL}}"
            class="h-full"
            alt="Visuel pour le titre {{track.trackTitle}}"
          />
        }
      </div>
      <div class="w-2/3 flex text-end">
        <div class="flex justify-end flex-grow">
          <mat-card-title-group>
            <div class="flex flex-col items-end">
              <mat-card-title>{{track.trackTitle}}</mat-card-title>
                @if ((track.artistsMusicAndLyrics?.length || 0) > 0) {
                  @for (artist of track.artistsMusicAndLyrics; track artist) {
                    <mat-card-subtitle>{{artist}}</mat-card-subtitle>
                  }
                }
                @if ((track.artistsLyrics?.length || 0) > 0) {
                  @for (artist of track.artistsLyrics; track artist) {
                    <mat-card-subtitle>{{artist}}</mat-card-subtitle>
                  }
                }
                @if ((track.artistsMusic?.length || 0) > 0) {
                  @for (artist of track.artistsMusic; track artist) {
                    <mat-card-subtitle>{{artist}}</mat-card-subtitle>
                  }
                }
            </div>
          </mat-card-title-group>
        </div>

        <mat-card-actions class="flex justify-end">
          <button mat-icon-button
                  aria-label="go to track page button"
                  [routerLink]="['/track', track.id]"
          >
            <img ngSrc="assets/images/logos/licensync-grey-button.png"
                 alt="licensync logo as a button"
                 width="32" height="32"
            >
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
}
