<footer class="flex justify-between xl:justify-center items-center h-12 w-full p-3 bg-secondary-bg sticky bottom-0">
  @if (isUserPage) {
    <app-upload-link
      class="xl:hidden"
      data-cy="open-upload-album-page"
    ></app-upload-link>
  } @else {
    @if (!isHomePage) {
      <button
        (click)="goBack()"
        class="xl:hidden"
      >
        <span class="material-symbols-outlined">arrow_back</span>
      </button>
    } @else {
      <div></div>
    }
  }
<button routerLink="/">
  <img ngSrc="../../../assets/images/logos/licensync-footer-title.png"
       class="align-middle"
       alt="licensync blue title"
       height="50" width="100"
       priority
  >
</button>

  @if(user$ | async) {
    <app-user-menu class="xl:hidden"/>
  } @else {
    <div></div>
  }
</footer>
