<footer class="flex justify-between xl:justify-center items-center h-12 w-full p-3 bg-secondary-bg sticky bottom-0">
  @if (isUserPage) {
    <app-upload-link
      [userId]="userId$ | async"
      class="xl:hidden"
      data-cy="open-upload-dialog"
    ></app-upload-link>
  } @else {
    @if (!isHomePage) {
      <button
        (click)="goBack()"
        class="xl:hidden"
      >
        <span class="material-symbols-outlined">arrow_back</span>
      </button>
    } @else {
      <div></div>
    }
  }
<button routerLink="/">
  <img src="../../../assets/images/logos/licensync-title.png" class="align-middle h-10" alt="licensync blue title">
</button>

  @if(user$ | async) {
    <app-user-menu class="xl:hidden"></app-user-menu>
  } @else {
    <div></div>
  }
</footer>
