@import './custom-theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Global reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Global theming

// Light Theme Color Variables
$main-bg-light: #F2F2F2;
$secondary-bg-light: #e0e0e0;
$dark-font-light: #435161;
$light-font-light: #ffffff;
$accent-bg-light: #056CF2;
$warn-light: #FF0000;

// Dark Theme Color Variables
$main-bg-dark: #333333;
$secondary-bg-dark: #424242;
$dark-font-dark: #bbbbbb;
$light-font-dark: #eeeeee;
$accent-bg-dark: #0057b8;
$warn-dark: #d32f2f;

// Success Color Palette
$success-main: #4CAF50;
$success-light: #81C784;
$success-dark: #388E3C;
$success-contrast: #FFFFFF;

// Font Family Variables
$body-font: 'Roboto', 'Arial', 'sans-serif';
$heading-font: 'Arvo', 'serif';

// Mixin for Light Theme
@mixin theme-light {
  body {
    background-color: $main-bg-light;
    color: $dark-font-light;
    font-family: $body-font;
    font-weight: 500;
  }

  .accent {
    background-color: $accent-bg-light;
  }

  .warning {
    color: $warn-light;
  }
}

// Mixin for Dark Theme
@mixin theme-dark {
  body {
    background-color: $main-bg-dark;
    color: $dark-font-dark;
    font-family: $body-font;
    font-weight: 500;
  }

  .accent {
    background-color: $accent-bg-dark;
  }

  .warning {
    color: $warn-dark;
  }
}

@include theme-light;

// Mixin for dialogs
@mixin responsive-dialogs {
  @media screen and (max-width: 959px) {
    .modal-panel {
      min-width: 0 !important;
      max-width: 100% !important;
      max-height: 100% !important;
      width: 100% !important;
      height: 100% !important;

      .mat-dialog-container {
        border-radius: 0;
        padding: 14px !important;
      }
    }
  }

  @media screen and (min-width: 960px) {
    .modal-panel {
      min-width: 600px !important;
      max-width: 80% !important;
      max-height: 90vh !important;
      overflow-y: auto !important;

      .mat-dialog-container {
        max-height: 85vh;
        padding: 24px !important;
        border-radius: 4px;
      }
    }
  }
}

@include responsive-dialogs;

// Global Styles
.mdc-notched-outline__notch {
  border-right: none;
}

.content-fit {
  height: calc(100vh - 32px - 48px);
  overflow-y: auto;
}

.dialog-title {
  font-family: Arvo, serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.success-text {
  color: $success-main;
}

.warn-text {
  color: $warn-light;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: #{$success-main};
  --mat-snack-bar-button-color: white;
  --mdc-snackbar-supporting-text-color: white;
}
