<div class="p-4"
     data-cy="track-upload-dialog"
>
  <h2 class="dialog-title">Importer un nouveau titre</h2>

  <form [formGroup]="trackUploadForm"
        (ngSubmit)="submit()"
        class="flex flex-col">

    <app-input-field
      label="Titre"
      placeholder="Titre"
      [type]="'text'"
      errorMessage="Veuillez renseigner le titre du morceau"
      [required]="true"
      formControlName="trackTitle"
      data-cy="track-title-input"
    />

    <div formArrayName="artists" class="flex flex-col justify-center mb-4">
      <div *ngFor="let artist of artistsFormArray.controls; let i = index" [formGroupName]="i" class="flex flex-col">

        <app-select-field
          label="Contribution"
          [options]="contributionList"
          placeholder="Contribution"
          errorMessage="Veuillez renseigner la contributionde l'artiste"
          [required]="true"
          formControlName="contributionLabel"
          [displayWith]="'label'"
          [valueField]="'label'"
          data-cy="artist-contribution-select"
        />

        <app-input-field
          label="Prénom"
          placeholder="Prénom"
          [type]="'text'"
          errorMessage="Veuillez renseigner le prénom de l'artiste"
          [required]="true"
          [stringLength]="2"
          formControlName="firstname"
          data-cy="artist-firstname-input"
        />

        <app-input-field
          label="Nom"
          placeholder="Nom"
          [type]="'text'"
          errorMessage="Veuillez renseigner le nom de famille de l'artiste"
          [required]="true"
          [stringLength]="2"
          formControlName="lastname"
          data-cy="artist-lastname-input"
        />

        <button type="button"
                (click)="removeArtistContribution(i)"
                class="mb-2 text-warn"
                data-cy="remove-artist-button"
        >Supprimer l'artiste</button>
      </div>
      <button type="button"
              (click)="addArtistContribution()"
              class="underline"
              data-cy="add-artist-button"
      >Ajouter un artiste</button>
    </div>

    <!-- Existing Albums Select Field -->

    <app-select-field
      label="Album"
      [options]="userAlbumList"
      placeholder="Album"
      formControlName="albumTitle"
      [displayWith]="'albumTitle'"
      [valueField]="'albumTitle'"
      data-cy="album-select"
    />

    <!-- Option to Create a New Album -->
    <button type="button" (click)="toggleNewAlbum()" class="underline" data-cy="create-new-album-button">
      Créer un nouvel album ?
    </button>

    <!-- New Album Fields -->
    <div *ngIf="isCreatingNewAlbum">
      <app-input-field
        label="Titre de l'album"
        placeholder="Titre de l'album"
        [type]="'text'"
        errorMessage="Veuillez renseigner le titre de l'album"
        [required]="true"
        formControlName="newAlbumTitle"
        data-cy="new-album-title-input"
      />

      <div *ngIf="(newAlbumTitleControl?.dirty || newAlbumTitleControl?.touched) && newAlbumTitleControl?.hasError('albumTitleExists')" class="text-red-600">
        Un album avec ce titre existe déjà.
      </div>

      <app-file-input
        formControlName="newAlbumVisual"
        label="Charger un visuel pour l'album"
        acceptedFormats=".jpg, .png"
        id="newAlbumVisualInput"
        [control]="newAlbumVisualControl"
        data-cy="new-album-visual-file-input"
      />
    </div>

    <app-input-field
      label="Label"
      placeholder="Label"
      [type]="'text'"
      formControlName="recordLabel"
      data-cy="record-label-input"
    />

    <app-select-field
      label="Genre principal"
      [options]="genreList"
      placeholder="Genre principal"
      formControlName="firstGenre"
      [displayWith]="'label'"
      [valueField]="'label'"
      data-cy="primary-genre-select"
    />

    <app-select-field
      label="Genre secondaire"
      [options]="genreList"
      placeholder="Genre secondaire"
      formControlName="secondaryGenre"
      [displayWith]="'label'"
      [valueField]="'label'"
      data-cy="secondary-genre-select"
    />

    <app-file-input
      formControlName="audioFile"
      label="Charger mon titre"
      acceptedFormats=".mp3"
      id="audioFileInput"
      [control]="audioFileControl"
      [formSubmitted]="formSubmitted"
      data-cy="audio-file-input"
    />

    <app-file-input
      formControlName="visualFile"
      label="Charger un visuel"
      acceptedFormats=".jpg, .png"
      id="visualFileInput"
      [control]="visualFileControl"
      data-cy="visual-file-input"
    />

    <div class="w-full flex justify-center mt-2">
      <button
        mat-raised-button
        color="accent"
        type="submit"
        class="fit-content rounded-full"
        data-cy="submit-upload-button"
      >
        <span class="text-light-font">Protéger mon titre</span>
      </button>
    </div>


    <div *ngIf="errorMessage" class="text-red-600">
      {{ errorMessage }}
    </div>
  </form>

  <div class="flex justify-center mt-4">
    <button
      mat-raised-button
      color="warn"
      (click)="closeDialog()"
      class="fit-content rounded-full"
    >
      <span class="text-light-font">Fermer</span>
    </button>
  </div>
</div>
