@use '@angular/material' as mat;

// Colors for text contrast
$dark-primary-text: #000000;
$light-primary-text: #ffffff;

// Primary palette
$mat-primary: (
  50: #fdfdfd,
  100: #fbfbfa,
  200: #f9f8f7,
  300: #f6f5f4,
  400: #f4f3f1,
  500: #f2f1ef,
  600: #f0efed,
  700: #eeedeb,
  800: #ecebe8,
  900: #e8e7e4,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Accent palette
$mat-accent: (
  50: #e8eaec,
  100: #c7cbd0,
  200: #a1a8b0,
  300: #7b8590,
  400: #5f6b79,
  500: #435161,
  600: #3d4a59,
  700: #34404f,
  800: #2c3745,
  900: #1e2733,
  A100: #7ab2ff,
  A200: #4794ff,
  A400: #1477ff,
  A700: #0069f9,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Material palettes
$primary: mat.define-palette($mat-primary);
$accent: mat.define-palette($mat-accent, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);
$accent-hover: mat.get-color-from-palette($mat-accent, A100);
