// Couleurs du thème clair
$main-bg-light: #F2F2F2;
$secondary-bg-light: #e0e0e0;
$dark-font-light: #435161;
$light-font-light: #ffffff;
$accent-bg-light: #056CF2;
$warn-light: #FF0000;

// Couleurs du thème sombre
$main-bg-dark: #333333;
$secondary-bg-dark: #424242;
$dark-font-dark: #bbbbbb;
$light-font-dark: #eeeeee;
$accent-bg-dark: #0057b8;
$warn-dark: #d32f2f;

// Couleurs de statut
$success-main: #4CAF50;
$success-light: #81C784;
$success-dark: #388E3C;
$success-contrast: #FFFFFF;

// Polices
$body-font: 'Roboto', 'Arial', sans-serif;
$heading-font: 'Arvo', serif;
